body {
  font-size: $browser-context * 1px;
  line-height: $modular-scale-ratio;
}
strong {
  font-weight: 700;
}
.aside {
  font-style: italic;
}
@include headings() {
  @include margin((2em * $modular-scale-ratio) null (1em * $modular-scale-ratio) null);
}
@include link-colors(inherit, inherit, inherit, inherit);

main,
[class^="nav-"] {
  @include link-colors($color-dark, $color-dark, $color-dark-less, $color-dark-less);
  a {
    transition: all $duration-beta $function-alpha;
    &:hover {
      color: $color-dark-less;
      border-color: $color-dark-less;
    }
  }
}
main {
  h1 {
    font-size: modular-scale(3);
    font-weight: 700;
  }
  h2,
  h3 {
    font-size: modular-scale(2);
  }
  h4 {
    font-size: modular-scale(1);
    font-weight: 700;
  }
  h2 {
    &:first-of-type {
      margin-top: 0;
    }
  }
  p,
  ul,
  ol,
  hr {
    font-size: modular-scale(1);
    margin-bottom: 1em * $modular-scale-ratio;
  }
  small {
    font-size: 0.8em;
  }
  ul {
    ul {
      margin-bottom: 0;
      margin-left: 1em;
    }
  }
  ul li,
  ol li {
    margin-bottom: 0.5em;
  }
  ul li {
    list-style: square outside;
  }
  ol li {
    list-style: decimal outside;
  }
  a {
    padding-bottom: 0.1414em;
    border-bottom: solid $color-dark 2px;
  }
  hr {
    width: 2em * $modular-scale-ratio;
    margin-left: $spacing-neg-beta;
    @include border-style(none none null none);
    border-bottom: solid 0.4rem $color-dark;
    @media (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi) {
      @include border-width(null null 0.35rem null);
    }
    // @  include respond-to('gamma') {
    //   @include padding(3em null null null);
    // }
  }
  blockquote {
    // font-size: modular-scale(3);
    text-align: right;

    p {
      font-weight: 200;
      font-style: italic;
      line-height: modular-scale(3);
    }
    cite {
      font-family: "Roboto Mono", sans-serif;
      font-size: $modular-scale-ratio * 1rem;
    }
  }
}
.sales-section {
  h2 {
    font-weight: 700;
  }
}