.work {}
#work-photography {
  h2 {
    font-weight: $font-weight-bold;
    margin-bottom: $spacing-gamma;
    @include respond-to('gamma') {
      margin-left: 14.285714286%;
      padding-left: $spacing-alpha;
    }
  }
  h3 {
    @include respond-to('gamma') {
      margin-left: 14.285714286%;
      padding-left: $spacing-alpha;
    }
    margin-top: $spacing-epsilon;
    margin-bottom: $spacing-gamma;
    &:first-of-type {
      margin-top: $spacing-gamma;
    }
  }
}