footer.footer-main {
  $this: &;
  @include margin($spacing-delta $spacing-zeta);
  text-align: center;
  @include respond-to('beta') {
    @include margin($spacing-delta);
  }
  @include respond-to('gamma') {
    margin: 0;
    text-align: right;
  }
  #contact {
    @include respond-to('gamma') {
      @include position(fixed, null $spacing-gamma 0 null);
      @include margin($spacing-gamma null $spacing-beta null);
    }
  }
}