html {
  font-size: strip-unit($browser-context / 16) * 100%;
  font-family: Roboto;
}
main {
  @include containerSpacing();
}
.wrapper-bleed {
  @include containerSpacing($margin: false, $bleed: true);
  @include padding(null $spacing-delta);
}
.cover-height {
  min-height: 100vh;
}
.cover-width {
  min-width: 100vw;
}
.cover-full {
  @extend .cover-height;
  @extend .cover-width;
}
.center-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include margin(auto null);
}
.center-flex-cover {
  @extend .cover-full;
  @extend .center-flex;
}
.content-section {
  margin-bottom: $spacing-zeta;
  padding-top: $spacing-zeta;
  &.hero-section {
    @include respond-to('beta') {
      min-height: 100vh;
      @include center-flex;
      padding: 0;
      h2 {
        margin-top: 0;
      }
    }
  }
}
.title-section {
  padding-top: $spacing-zeta;
}
.nav-sub {
  @include margin(null $spacing-neg-gamma);
  @include respond-to('beta') {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  li {
    @include margin(1em $spacing-gamma null $spacing-gamma);
    list-style: none;
    flex-grow: 1;
    font-size: modular-scale(1);
    font-family: $font-stack-beta; // letter-spacing: 0.1414em;
    @include respond-to('beta') {
      // min-width: 50%;
      &:nth-of-type(even) {
        text-align: right;
      }
    }
  } // a {
  // font-weight: 700;
  // }
}
.nav-section {
  float: left;
  @include respond-to('gamma') {
    font-size: modular-scale(0);
  }
  @root #work-photography & {
    @include respond-to('beta') {
      @include margin(null 14.285714286% null 14.285714286%);
    }
    @include respond-to('gamma') {
      @include padding(null $spacing-delta null $spacing-delta);
    }
  }
  li {
    display: inline-block;
    margin-right: $modular-scale-ratio * 1em;
    list-style-type: none;
    font-family: $font-stack-beta;
    letter-spacing: 0.1414em;
    line-height: 1.999396;
  }
}